.MuiTypography-body1 {
  color: #404040;
}

#navBar_more_butoon {
  color: #085044 !important;
  font-family: Helvetica !important;
  font-size: 16px !important;
}

li > * {
  color: #404040;
}
.MuiPopover-paper{
  margin: 42px 0px 0px 0px !important;
}
