.login-otp-validation{
    .login-card{
        padding: 30px 30px 60px 30px;
    }
    .verify-button{
        height: 42px;
    }
    .heading{
        padding: 10px;
        color: #085044;
    }
    .heading-icon{
        padding: 10px;
    }
    .heading-content{
        color: #085044;
         margin-bottom: 20px;
    }
    .register-link{        
        color:#139aef;
    }
    .timer{
        margin-top: 20px !important;
        color: #085044;
    }
    .makeStyles-root-17 > *{
        margin: 0px;
    }
}