.ad-search-treatments{
    .post-button{
        margin-top: 10px;
        text-align: center;
    }
    .post-custom-button{
        box-shadow: none;
    }
  
}
  @media (max-width: 1919.95px){
    .manage-container {
        padding: 40px 100px !important;
    }
}
@media (max-width: 1919.95px)
{
.makeStyles-content-2 {
    padding: 0 ;
}
}