.text-area {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #446354;
  padding: 8px;
}
.color-green-theme {
  color: #446354;
}
.input-label {
  margin-bottom: 16px;
  &.MuiInputLabel-outlined,
  &.Mui-focused {
    color: #446354;
    @extend .color-green-theme;
    &.inactive {
      transform: translate(14px, 34px) scale(1);
    }
    &.active {
      transform: translate(10px, -16px) scale(0.8);
    }
  }
  &.comments-label {
    color: #446354;
    font-size: 12px;
    margin-bottom: 14px;
    padding-left: 8px;
  }
}
.MuiSelect-selectMenu {
  height: 70px;
}
.post-request-button-content-light {
  background-color: #fff;
  color: #446354;
  border: solid 1px #446354;
  &:hover {
    color: #fff;
  }
}
.upload-file-section {
  border: solid 1px #446354;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  padding: 0 4px 0 20px;
  max-width: 500px;
  margin-top: 16px;
  p {
    margin: 12px 0;
  }
}
@media only screen and (max-width: 992px) {
  .upload-file-section {
    border-radius: 20px;
    flex-wrap: wrap;
    padding: 10px 20px 26px 10px;
    justify-content: center;
  }
}
.emojiSection {
  svg {
    cursor: pointer;
    fill: #dbba00;
    width: 60px;
    height: 50px;
    &:hover {
      fill: #f8d83c;
    }
  }
  margin-bottom: 20px;
}

#upload-btn:hover{
  background-color: #555;
  cursor: pointer;
}