.login-card {
  padding: 30px 30px 60px 30px;
  .heading {
    padding: 10px;
    color: #085044;
  }
  .heading-icon {
    padding: 10px;
  }
  .heading-content {
    color: #085044;
    margin-bottom: 20px;
  }
  .makeStyles-root-16 > * {
    margin: initial;
  }
}
